.container {
  padding-top: 1.5rem;
  background-color: var(--page-bg-color);
  color: var(--white);
  padding-top: 5rem;
  padding-left: 5px;
  min-height: 100vh;
}

.info-container {
  margin-top: 4rem;
}
.info-container h1{
  color: var(--white);
}

.user-info {
  width: 24rem;
  text-align: center;
  box-shadow: 3px 3px 8px var(--grey);
  margin: 10rem auto;
  margin: 1rem auto 0 auto;
  padding: 1.5rem;
  font-size: var(--large-font-size);
  border-radius: 10px;
  background-color: var( --side-main-nav-bg-color);
}
.user-info button {
  margin-top: 2rem;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: var(--black);
  background-color: var(--primary-color);
}
