.container {
  padding-top: 1.5rem;
  background-color: var(--page-bg-color);
  color: var(--white);
  padding-top: 5rem;
  padding-left: 5px;
  margin-left: 9.5rem;
  width: 89%;
  min-height: 100vh;
}
